.hsCheckData {
    display: inline-block;
    min-height: 28px;
    border: 1px solid #ccc;
    background-color: #fff;
    min-width: 188px;
    cursor: pointer;
    border-radius: 2px;
    line-height: 30px;
    padding-left: 5px;
    background-image: url(img/nc.png);
    background-repeat: no-repeat;
    background-position: 98% 50%;
}

.hsCheckData .select_empty {
    font-size: 13px;
    color: #666;
}

.hsCjeckData_check {
    background-image: url(img/yc.png);
}

.hcd_main_border {
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    /*max-height: 200px;*/
    /*padding: 5px;*/
    position: absolute;
    border-top: none;
}

.hcd_filter {
    width: 100%;
    height: 30px;
    display: inline-block;
    margin: 5px;
}

.hcd_filter_input {
    outline: none;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 4px 6px;
    font-size: 14px;
    background-image: url(img/filter.png);
    background-repeat: no-repeat;
    background-position: 98% 50%;
}

.hcd_filter_input:focus,.hcd_filter_input:active {
    border: 1px solid #3c8dbc;
}

.hcd_dataList {
    max-height: 200px;
    width: 100%;
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
}

    .hcd_dataList > ul {
        padding-left: 0 !important;
        margin: 0;
    }

        .hcd_dataList > ul li {
            list-style-type: none;
            cursor: pointer;
        }

        .hcd_dataList > ul > li {
            padding-left: 0px;
        }

            .hcd_dataList > ul > li > div {
                padding-left: 15px;
            }

            .hcd_dataList ul > li > div {
                height: 30px;
                line-height: 30px;
                font-size: 13px;
            }


.exsitChild {
	position: absolute;
    left: 6px;
    top: 11px;
    background-image: url(img/close.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    display: inline-block;
    width: 7px;
    height: 8px;
    margin-right:5px;
}

.exsitChild_check {
    background-image: url(img/open.png);
}

.ec {
    min-height: 22px;
    font-size: 14px;
    line-height: 22px;
}

    .ec > div {
    	position: relative;
        /* padding-left: 3px !important; */
    }

        [name='datali'] > div:hover,
        .ec > div:hover {
            background-color: #5897fb;
            color: #fff;
        }

        /*下拉列表的复选框*/
        [name='datali'] input[name='dataliCheck'], [name='datali'] input[name='childcheckbox'] {
            float: left;
            margin-top: 9px;
            margin-right: 6px;
        }
        /*下拉列表的文字*/
        [name='datali'] .list_text {
            float: left;
        }

.hcd_btn_div {
    margin-top: 5px;
    text-align: right;
    background-color: #f5f5f5;
    height: 29px;
    /*width: 310px;
    margin-left: -5px;*/
    border-top: 1px solid #e3e3e3;
}

.hcd_btn {
    margin-right: 5px;
    margin-top: 4px;
    font-size: 12px;
    color: #333;
    cursor: pointer;
}

/*.hcd_btn:hover {
    border: 1px solid #3c8dbc;
}*/

/*选择的选项*/
.select_list {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
}

.select_list > li {
    float: left;
    font-size: 13px;
    border: 1px solid #333;
    height: 20px;
    line-height: 20px;
    color: #5383B1;
    background-color: #f3f3f3;
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    padding: 0 5px;
    margin: 3px 5px 3px 0;
}

.select_list .select_icon {
    color: #999;
    padding-right: 3px;
}

.select_list .select_icon:hover {
    color: #666;
}