<!-- Content Header (Page header) -->
<section class="content-header">
<h1>
  小窍门数据管理
  <small>Control panel</small>
</h1>
<ol class="breadcrumb">
  <li><a href="#"><i class="fa fa-table"></i> 主页</a></li>
  <li class="active">小窍门数据管理</li>
</ol>
</section>