        </div><!-- /.content-wrapper -->
      <%- include('main-footer') %>
    </div><!-- ./wrapper -->
    
    <script src="/adminlte/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="/adminlte/bootstrap/js/bootstrap.min.js"></script>
    <script src="/adminlte/plugins/fastclick/fastclick.min.js"></script>
    <script src="/adminlte/dist/js/app.js"></script>
    <script src="/plugins/layer/layer.js"></script>
    <script src="/js/ajaxUtil.js"></script>
  </body>
</html>