body,html,h1,h2,h3,h4,h5,h6,ul,li,ol,li,dl,dt,dd {
    margin:0;
    padding:0;
    color: #333;
}

.con {
    max-width: 1200px;
    margin: 0 auto;
}

.text, ul > li{
    line-height: 35px;
}

/*弹性盒子布局部分*/
.flex {
    display: flex;
    margin: 30px 0;
}

.flex > .item {
    width: 200px;
    height: 200px;
    line-height: 200px;
    vertical-align: middle;
    margin: 5px;
    font-size: 100px;
    color: #fff;
    text-align: center;
    background: #e45068;
}

.flex > .item:nth-of-type(1) {
    background: #e45068;
}

.flex > .item:nth-of-type(2) {
    background: #f67b4f;
}

.flex > .item:nth-of-type(3) {
    background: #f2a00c;
}

.flex > .item:nth-of-type(4) {
    background: #ebd230;
}

.flex > .item:nth-of-type(5) {
    background: #7fc040;
}

.flex > .item:nth-of-type(6) {
    background: #4bc4bf;
}

.flex > .item:nth-of-type(7) {
    background: #1e7dd7;
}

.flex > .item:nth-of-type(8) {
    background: #bc69d3;
}

/*主轴方向为纵向的布局盒子的样式，将子盒子变小了一些，太占位置*/
.flex-column > .item {
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 50px;
}