<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tips</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/adminlte/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/adminlte/dist/css/AdminLTE.css">
    <link rel="stylesheet" href="/adminlte/dist/css/skins/_all-skins.min.css">
  </head>

  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <%- include('layout/main-header') %>
      <%- include('layout/main-sidebar') %>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <%- include('layout/content-header') %>
          <!-- 自定义内容部分开始 -->

          <!-- 自定义内容部分结束 -->
      </div><!-- /.content-wrapper -->
      <%- include('layout/main-footer') %>
    </div><!-- ./wrapper -->

    <script src="/adminlte/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="/adminlte/bootstrap/js/bootstrap.min.js"></script>
    <script src="/adminlte/plugins/fastclick/fastclick.min.js"></script>
    <script src="/adminlte/dist/js/app.js"></script>
  </body>
</html>
