/* 添加按钮部分的样式 */
.add-btn-wrap {
    margin: 5px 20px 15px 0;
}

.add-btn-wrap button i {
    margin-right: 5px;
}

/* 去掉dataTable中的部分默认样式 */
table.dataTable thead > tr > th {
    padding-right: 8px;
}

.tips-table th, .tips-table td {
    width: 100px;
}

/* 小窍门表格样式 */
/* 内容 */
.tips-table .con {
    width: auto;
}
/* 实用度 */
.tips-table .rate {
    width: 120px;
}
/* 实用度的小星级颜色 */
.tips-table .rate .rate-star{
    color: #dd4b39;
}
/* 关键字 */
.tips-table .keyword {
    width: 150px;
}
/* 启用 */
.tips-table .isuse {
    width: 30px;
}
/* 发布 */
.tips-table .release {
    width: 30px;
}
/* 修改时间 */
.tips-table .updateTime {
    width: 100px;
}
/* 创建时间 */
.tips-table .createTime {
    width: 100px;
}
/* 操作 */
.tips-table .operate {
    width: 140px;
    text-align: center;
}

.tips-table .operate > a {
    margin: 0 10px;
}

.tips-table .operate > a > i {
    margin-right: 5px;
}